{% extends 'base/base.html' %}
{% block title %} | Get OBE Report {% endblock title %}
{% block content %} 
   <div class="container-fluid py-3">
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{success}} alert-dismissible fade show" role="alert">
          {{message}}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endfor %}
    {% endif %}
    <center><h5>Generate OBE Report (Course-wise)</h5></center>
    <section class="container my-2 bg-dark w-75 text-light p-2">
    
        <form action="" method="POST" class="row g-3 p-3">
            {% csrf_token %}
            
            <div class="col-md-6">
                <label for="validationDefault01" class="form-label">Educational Year</label>
                <input type="number" name="year" class="form-control" id="validationDefault01" value="" required>
            </div>
            <div class="col-md-6">
                <label for="inputState" class="form-label">Educational Semester</label>
                <select id="inputState" name="semester" class="form-select">
                <option>Select Semester</option>
                <option>Spring</option>
                <option>Summer</option>
                <option>Autumn</option>
                </select>
            </div>
            <div class="col-md-6">
                <label for="inputState" class="form-label">Enrolled course</label>
                <select id="inputState" name="course" class="form-select">
                {% for course in courses %}
                    <option value="{{ course.course.courseID }}">{{ course.course.courseID }}</option>
                {% endfor %}
                <!-- <option>CSE303</option>
                <option>CSE301</option>
                <option>CSE316</option>
                <option>CSE317</option>
                <option>CSE307</option>
                <option>CSE309</option> -->
                </select>
            </div>
            <div class="col-12">
            <button type="submit" class="btn btn-primary">Get OBE Report</button>
            </div>
        </form>
    </section>
  </div>
{% endblock content %} 